[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "InfiniumPurify"]
	path = InfiniumPurify
	url = https://github.com/cran/InfiniumPurify
